@import "../../../styles/index.scss";

.film {
    display: flex;
    flex-direction: column;
    width: 15rem;
    text-align: justify;

p {
    @include t-b3;
}

&-name {
    text-align: center;
}

&-image {
    max-width: 15rem;
}

&-list {
    display: flex;
    gap: 16px;
}
}
h4 {
    font-size: 20px;
  }
  