@import "../../../styles/index.scss";

.film {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 15rem;
    text-align: justify;

p {
    @include t-b3;
}

&-image {
    max-width: 15rem;
}

&-list {
    display: flex;
    gap: 16px;
}
}